<h1>Show Districts</h1>
<table class="table">
	<tr>
		<th>Country</th>
		<th>Region</th>
		<th>District</th>
		<th>ShapeFile</th>
	</tr>

<% @districts.each do |district| %>
	 <tr>
	 	<td><%= district.country %></td>
	 	<td><%= district.region %></td>
	 	<td><%= district.district %></td>
	 	<td>
	 		<% unless district.avatar.blank? %>
	 			<%= link_to (image_tag district.avatar.url(:thumb)), district.avatar.url %>
	 		<% end %>
	 	</td>
	 </tr>
<%end%>
</table>