  <div class="container-fluid">
    <div class="row">

      <div class="col-xs-12 col-sm-12">
            <div class="jumbotron">
              <a href="/"><img src="http://images.forbes.com/media/lists/companies/task-force-for-global-health_200x200.jpg" width="200" height="200" alt="Home"/></a>
              <h1>API: Task Force for Global Health</h1>
              <p>Welcome to the Task Force for Global Health API. This tool is intended to faclitate in getting vital  information to caregivers about each location visited and streamline the process of adding important data for future vists.</p>
            </div>
            <div class="row">
              <div class="col-sm-6 col-lg-4">
                <h2>Show Districts</h2>
                <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
                <p><a class="btn btn-primary" href="api/index" role="button">View details &raquo;</a></p>
              </div><!--/span-->
              <div class="col-sm-6 col-lg-4">
                <h2>Update Districts</h2>
                <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
                <p><a class="btn btn-primary" href="/districts" role="button">View details &raquo;</a></p>
              </div>
          </div>
     </div>
   </div>
</div><!--/.container-->

