 <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
<br/><br/>
  <footer>
    <p align="center">&copy;2014 The Task Force for Global Health</p>
  </footer>
