<div class="navbar navbar-fixed-top navbar-inverse" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/"> Task Force for Global Health </a>
          <!-- <a href="/"><img src="http://images.forbes.com/media/lists/companies/task-force-for-global-health_200x200.jpg" width="90" height="70" alt="Home"/></a> -->
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <!--<li class="active"><a href="/">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#apis">APIs</a></li>-->
          </ul>
          <p class="navbar-text navbar-right"> <% if user_signed_in? %>
            You are logged in as <%= current_user.email %> | <%= link_to 'Update Districts', districts_path %> |
            <%= link_to "Sign out",destroy_user_session_path, method: :delete, class: "button" %>
          <% end %>
          </p>
          
        </div><!-- /.nav-collapse -->
      </div><!-- /.container -->
    </div><!-- /.navbar -->

   
